@page
@model IndexModel
@using AKS.WebApp.Model
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
@*    @foreach (Temperatura oTMP in Model)
    {
        <tr>
            <td>@file.FileName</td>
            <td><a href="@Url.Page("Index", "DownloadFile", new { fileName = file.FileName })">Download</a></td>
        </tr>
    }*@

</div>
